[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/carbonfish
[access "refs/for/refs/*"]
	read = group user/carbonfish
	push = group user/carbonfish
	label-Code-Review = -2..+2 group user/carbonfish
	label-Verified = -1..+1 group user/carbonfish
	rebase = group user/carbonfish
	removeReviewer = group user/carbonfish
	submit = group user/carbonfish
[access "refs/heads/*"]
	read = group user/carbonfish
	create = group user/carbonfish
	push = +force group user/carbonfish
	pushMerge = group user/carbonfish
[access "refs/tags/*"]
	push = +force group user/carbonfish
	pushTag = group user/carbonfish
	pushSignedTag = group user/carbonfish
